
$email: #333;
$facebook: #3b5998;
$twitter: #55acee;
$google: #dc4e41;
$pinterest: #bd081c;
$linkedin: #0077b5;
$reddit: #ff4500;
$whatsapp: #25d366;
$pocket: #ef4056;

@mixin fontawesome($size) {
	display: inline-block;
	font: normal normal normal $size/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	vertical-align: middle;
}

@mixin screen-reader-text {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

@mixin color-opacity($color,$opacity) {
	background-color: $color;
	@if $opacity != 1 {
		background-color: rgba($color,$opacity);
	}
}

$social: ( email, $email, 'f0e0' ),
		( twitter, $twitter, f099 ),
		( facebook, $facebook, f09a ),
		( linkedin, $linkedin, f0e1 ),
		( pinterest, $pinterest, f0d2 ),
		( google, $google, f0d5 ),
		( reddit, $reddit, f281 ),
		( whatsapp, $whatsapp, f232 ),
		( pocket, $pocket, f265 );
