$email: #333;
$facebook: #3b5998;
$twitter: #14171a;
$pinterest: #bd081c;
$linkedin: #0077b5;
$reddit: #ff4500;
$whatsapp: #25d366;
$pocket: #ef4056;
$telegram: #0088cc;
$sms: #009933;
$hatena: #00a4de;
$yummly: #e16120;
$bluesky: #1185fe;

$email-icon: \f0e0;
$facebook-icon: \f09a;
$twitter-icon: \e61b;
$pinterest-icon: \f0d2;
$linkedin-icon: \f0e1;
$reddit-icon: \f281;
$whatsapp-icon: \f232;
$pocket-icon: \f265;
$telegram-icon: \f3fe;
$hatena-icon: \f02e; // not official
$sms-icon: \f7cd;
$bluesky-icon: \e671;

@function add-content($glyph) {
	@return unquote("\"#{ $glyph }\"");
}

@mixin fontawesome($size) {
	display: inline-block;
	font: normal normal normal $size/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	vertical-align: middle;
}

@mixin fa-icon {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

@mixin screen-reader-text {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

@mixin screen-reader-text-reset {
	position: relative !important;
	clip: auto;
	width: auto;
	height: auto;
}

@mixin color-opacity($color, $opacity) {
	background-color: $color;

	@if $opacity !=1 {
		background-color: rgba($color, $opacity);
	}
}

$social: ('email', $email, $email-icon),
('twitter', $twitter, $twitter-icon),
('facebook', $facebook, $facebook-icon),
('linkedin', $linkedin, $linkedin-icon),
('pinterest', $pinterest, $pinterest-icon),
('reddit', $reddit, $reddit-icon),
('whatsapp', $whatsapp, $whatsapp-icon),
('pocket', $pocket, $pocket-icon),
('telegram', $telegram, $telegram-icon),
('hatena', $hatena, $hatena-icon),
('sms', $sms, $sms-icon),
('bluesky', $bluesky, $bluesky-icon);
