@import "variables";

.scriptless-sortable-buttons {
	margin: 1.33em auto;
}

.change-warning {
	display: none;
}

.button.sortable-button {
	display: inline-flex;
	margin-right: 2px;
	flex-wrap: wrap;

	&:last-of-type {
		margin-right: 0;
	}

	input {
		background: transparent;
		border: none;
		box-shadow: none;
		width: 40px;
		height: auto;
	}
}

