@import "_variables.scss";

.scriptlesssocialsharing {
	box-sizing: border-box;
	margin: 18px auto;

	@media print {
		display: none;
	}

	&-buttons {
		border-collapse: separate;
		border-spacing: 3px;
		display: table;
		table-layout: fixed;

		a.button {
			border: none;
			border-radius: 0;
			color: white;
			display: table-cell;
			text-align: center;
			text-decoration: none;

			&:hover {
				color: white;
			}
		}

		.sss-name {
			@include screen-reader-text;
		}

		@each $socialnetwork, $color, $glyph in $social {
			.button.#{$socialnetwork} {
				@include color-opacity($color, .8);

				&:hover {
					@include color-opacity($color, 1);
				}
			}
		}
	}

	svg {
		display: inline-block;
		fill: currentColor;
		height: 1.1em;
		vertical-align: middle;
		width: 1.1em;
	}
}

