@import "variables";

.scriptless-sortable-buttons {
	margin: 1.33em auto;
	display: flex;
	gap: 6px;
}

.change-warning {
	display: none;
}

.button.sortable-button {
	display: flex;

	input {
		background: transparent;
		border: none;
		box-shadow: none;
		width: 40px;
		height: auto;
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

.ui-sortable-disabled {
	.button:hover,
	label:hover {
		cursor: default;
	}
}

