@import "_variables.scss";

.scriptlesssocialsharing {
	box-sizing: border-box;
	margin: 18px auto;

	@media print {
		display: none;
	}

	a.button {
		border: none;
		border-radius: 0;
		color: white;
		line-height: 1;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: white;
		}
	}

	.screen-reader-text {
		@include screen-reader-text;
	}

	&-buttons {
		border-collapse: separate;
		border-spacing: 3px;
		display: table;
		table-layout: fixed;

		.button {
			display: table-cell;
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;

		a.button {
			border: 1px solid;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 0;
		}
	}

	&__icon {
		display: inline-block;
		fill: currentColor;
		height: 1.1em;
		width: 1.1em;

		+ .sss-name {
			margin-left: 8px;
		}
	}

	@each $socialnetwork, $color, $glyph in $social {
		.button.#{$socialnetwork} {
			background-color: rgba($color, .8);

			&:hover {
				background-color: $color;
			}
		}
	}
}

