
$fa-font-path: "../fonts" !default;
$fa-version: "4.4.0" !default;

$email: #333333;
$facebook: #3b5998;
$twitter: #00aced;
$google: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;

@mixin fontawesome($size) {
	display: inline-block;
	font: normal normal normal $size/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: $size;
}

@mixin screen-reader-text {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

@mixin color-opacity($color,$opacity) {
	background-color: $color;
	@if $opacity != 1 {
		background-color: rgba($color,$opacity);
	}
}
