@import "_variables.scss";

.scriptlesssocialsharing {
	box-sizing: border-box;
	margin: 18px auto;
}

.scriptlesssocialsharing-buttons {
	border-collapse: separate;
	border-spacing: 3px;
	display: table;
	table-layout: fixed;
	width: 100%;

	.button {
		border: none;
		border-radius: 0;
		color: white;
		display: table-cell;
		padding: 12px 0;
		text-align: center;
		text-decoration: none;
	}

	.sss-name {
		@include screen-reader-text;
	}

	@each $socialnetwork, $color, $glyph in $social {
		.#{$socialnetwork} {
			@include color-opacity($color,.8);

			&:hover {
				@include color-opacity($color,1);
			}
		}
	}
}

@media only screen and (min-width: 800px) {
	.scriptlesssocialsharing-buttons .sss-name {
		position: relative;
		height: auto;
		width: auto;
	}
}
