@import "_variables.scss";

.scriptlesssocialsharing-buttons {
	display: table;
	table-layout: fixed;
	width: 100%;

	.button {
		border-right: 3px solid white;
		color: white;
		display: table-cell;
		padding: 12px 0;
		text-align: center;
		text-decoration: none;

		&:last-of-type {
			border-right: none;
		}
	}

	.sss-name {
		@include screen-reader-text;
	}

	.twitter {
		background-color: get-social-media-colour(twitter);
		background-color: rgba(0,172,237,.8);

		&:hover {
			background-color: get-social-media-colour(twitter);
		}
	}

	.facebook {
		background-color: get-social-media-colour(facebook);
		background-color: rgba(59,89,152,.8);

		&:hover {
			background-color: get-social-media-colour(facebook);
		}
	}

	.google {
		background-color: get-social-media-colour(google);
		background-color: rgba(221,75,57,.8);

		&:hover {
			background-color: get-social-media-colour(google);
		}
	}

	.pinterest {
		background-color: get-social-media-colour(pinterest);
		background-color: rgba(203,32,39,.8);

		&:hover {
			background-color: get-social-media-colour(pinterest);
		}
	}

	.linkedin {
		background-color: get-social-media-colour(linkedin);
		background-color: rgba(0,123,182,.8);

		&:hover {
			background-color: get-social-media-colour(linkedin);
		}
	}
}

@media only screen and (min-width: 800px) {
	.scriptlesssocialsharing-buttons .sss-name {
		position: relative;
		height: auto;
		width: auto
	}
}